@{
    ViewData["Title"] = "Početna";
}

<div class="jumbotron">
    <h3 class="display-5">Demo Employee&Scrum Manager App</h3>
    <p class="lead">Manage employees & employee daily scrum table</p>
    <hr class="my-4">
    @if (User.Identity.IsAuthenticated)
    {
        <i class="far fa-smile fa-3x"></i>
    }
    else
    {
        <p>Demo login:</p>
        <p>admin@demo.com</p>
        <p>P4$sw0rd</p>
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Prijava</a>
    }
</div>
